# 如何生成与修订(润色) .md 文件
1. 在生成 .md 文件内容时,应该使用序号生成层次结构,比如:
1. 1级标题
    1.1. 1.1 级标题
    1.2. 1.2 级标题
        1.2.1 1.2.1 级标题
        1.2.2 1.2.2 级标题
2. 在生成文本时,文本包含中文与英文或数字时,英文与数字之间应该有一个空格,比如:
    2.1. device_no/device_sub_topic 接收服务端的输入数据
    2.2. 如果在代码片段中有中文,则中文与英文之间不需要空格,比如:
        ```json
        {
            "key": "value",
            "key2": "520值"
        }
        ```
3. 生成的代码片段文本,尽量不要包含中文,注释除外,例如:
    3.1. 这个是错误的
    ```json
    {
        "key": "value",
        "key2": "520值"
    }
    ```
    3.2. 这个是正确的
    ```json
    {
        "key": "value",
        "key2": "520_value"
    }
    ```
4. 一般最外层的标题,需要增加中文序号,比如:
    ## 一 功能描
    ## 二 联网功能
    1. 默认Wi-Fi账号和密码均为：88888888
    2. 设备上电后会自动连接MQTT服务器，并订阅两个主题
5. 修正润色的时候,检索全文,对一些关键词需要标色处理,同时注意中英文相连需需要空格隔开
